body {
    /* font-family: 'K2D', sans-serif; */
    font-family: 'Raleway', sans-serif;
    margin: 0;
    position: relative;
}

ul {
    padding-left: 0; 
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: 100;
    font-size: 80%;
}

h4 {
    font-size: 120%;
    font-weight: 600;
}

#phone {
    width: 320px;
    height: 567px;
    background-color: #F2F2F2;
    border-radius: 30px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
}

#screen {
    position: absolute;
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: -43px;
}

#imgBox {
    width: 90%;
}

#imgBox > img {
    width: 100%;
    border-radius: 10px;
}

#infoBox {
    text-align: center;
    position: absolute;
    top: 81%;
    width: 90%;
    background-color: white;
    padding: 10px 0px;
    border-radius: 0px 0px 15px 15px;
}

button {
    padding: 20px 40px;
    background-color: brown;
    border: none;
    border-radius: 15px;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}

.action {
    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 251px;
}

#clickLike {
    background-color: #83E7FF;
    margin-left: 10px;
}

#clickLike:hover {
    background-color: rgb(79, 220, 255);
}

#clickSkip {
    background-color: #FF5F71;
    margin-right: 10px;
}

#clickSkip:hover {
    background-color: rgb(255, 58, 81);
}

#mySelection {   
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #FF5F71;
}

.list-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.button-box {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center
}

#openIt {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 30px;
    color: #000;
    font-size: 75%;
    border-radius: 0px;
    position: absolute;
    left: 0;
    right: 0;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    transition: 0.1s ease-in-out;
}

#openIt:hover {
    border: 1px solid rgb(37, 37, 37);
    color: white;
    background-color: rgb(37, 37, 37);
    transition: 0.1s ease-in-out;
}